@charset "UTF-8";



main > form > .worker {
	margin : 1vh 0;
	width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.worker > .worker__img > img{
	width: 70vw;
	border-radius:  35vw;
	border: 2px solid #000;
}

main > form > .worker > .worker__rows > .worker__row{
	display: flex;
	width: 90vw;
	border: 1px solid var(--border-color);
	padding : 2vw;
}

main > form > .worker > .worker__rows > .worker__row > .worker__col:first-child{
	width: 14vw;
	border-right: 1px solid var(--border-color);
}

main > form > .worker > .worker__rows > .worker__row > input {
	width: 90vw;
	margin : 1vw 0;
	padding: 2vw;
	margin-top: 2vw;
}


.retire{
	background-color: rgb(255, 123, 123);
	color: white;
	font-weight: 600;
	border: 1px solid rgb(255, 123, 123);
}

.rework{
	background-color: rgb(150, 255, 147);
	color: white;
	font-weight: 600;
	border: 1px solid rgb(150, 255, 147);
}

.worker__btns{
	margin-top: 2vw;
}

.worker__sum-btn{
	border-radius: 2vw;
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
	color: #fff;
	font-weight: 600;
	padding: 2vw;
}

.worker__basic-btn{
	font-size: 14px;
	background-color: var(--text-sub-color);
	border: 1px solid var(--text-sub-color);
	border:none;
}

