@charset "UTF-8";

@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*
	css 적용 규칙,
	Bolck이름__Element이름
	ex)form class = "freeBoard"
		input class = "freeBoard__name"
		input class = "freeBoard__pwd"
	
	Block 만 적용하여 선택자를 이용해도 가능합니다.
	ex)
		form class = "freeBoard"
		 input
		 input
		
		.freeBoard >input:last-child{
			css 내용
		}
*/


/* components - 페이지의 일부분에 들어가는 css를 작성할 때 아래에 import 합니다.
	ex) header - footer
*/


/* screens - 각 페이지에 들어가는 css를 작성할 때 아래에 import 합니다
	ex) 리스트, 상세화면, 수정 등등
 */
/*components*/
@import "./components/header.css";
@import "./components/footer.css";


/*screens*/
@import "./screens/patrol/patrolWrite.css";
@import "./screens/worker/modify.css";
@import "./screens/worker/list.css";
@import "./screens/notice/noticelist.css";
@import "./screens/notice/noticedetail.css";
@import "./screens/login/login.css";
@import "./screens/work/workList.css";


/* 이 아래는 모든 곳에서 공통되는 css를 적용합니다.
	ex) a 태그, font-size, font-family 등등
*/

*{
	font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-optical-sizing: auto;
	box-sizing: border-box;
	object-fit: cover;
	color: var(--text-title-color);

}
body{
	width: 100%;
	border: 1px solid blue;
	padding-top: 80px;
	position: relative;
	background-color: var(--bg-color);
}
#masterTemplate {
	max-width: var(--main-width);
	margin: 0 auto;
}
#patrolTemplate{
	max-width: 360px;
	margin: 0 auto;
	font-size: 14px;
}

:root{
	--main-color: #D94A4A; /* 메인색 */
	--main-dark-color: #630000;
	--main-blur-color : #FFE4DF; /* 연한 메인색 */
	--text-title-color : #0d0d0d; /* 텍스트 진한색 (글 제목) */
	--text-cont-color : #333333; /* 텍스트 보통색 (글 내용) */
	--text-sub-color : #8c8c87; /* 텍스트 연한색 */ 
	--border-color : #eeeeee; /* 보더색상 */
	--bg-color : #f2f2f2; /*배경색상*/
	--main-width: 1200px; /*body 사이즈*/
	--mobile-width: 360px; /*mobile 사이즈*/
}

table, .table {
	border-collapse: collapse;
	width: 100%;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-bottom: 80px;
}

th, .th {
	background-color: var(--main-color);
	color: var(--bg-color);
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

td, .td {
	background-color: #fff;
	padding: 10px;
	font-weight: 500;
}

table tr:nth-child(even) td,
.table .tr:nth-child(even) .td {
	background-color: var(--bg-color);
}

.btn {
	display: innline-block;
    padding: 0 0.8rem;
    line-height: 2em;
	font-size: .8rem;
	font-weight: 700;
	background-color: var(--main-color);
	color: var(--main-blur-color);
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

