@charset "UTF-8";

.noticeWrite{
	width: var(--main-width);
	padding-top: 40px;	
}
.notice_title{
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--main-color);
}
.notice_subTitle{
	font-size: 18px;
	color: var(--text-sub-color);
}
.notice_button{
  padding: 15px 32px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--main-btn-color);
  color: white;
  border: none;
}
.noticeWriteWrap, .noticeDetailWrap, .noticeListWrap{
	padding: 40px 0 65px;
}



.noticeWriteWrap{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}
.noticeWrite_titleWrap, .noticeWrite_dayWrap>div{
	display: flex;
	height: 40px;
	margin-bottom: 15px;
}
.noticeWrite_imgWrap{
	height: 110px;
	display: flex;
}
.noticeFile, .notice_imgButton{
	margin-left: 10px;
}

.noticeWrite_content, .noticeWrite_bottom, .noticeModify_imgWrap,.noticeWrite_dayWrap,.noticeFile, .eventWrite_bottom,.eventFile{
	display: flex;
}
.noticeWrite_dayWrap, .noticeWrite_bottom{
	justify-content: space-between;
}

.noticeWrite_title{
	width: 130px;
}
.noticeWrite_titleWrap>div:last-of-type, .noticeWrite_content>div:last-of-type{
	width: 1000px;
	border: 1px solid var(--border-color);
}

.noticeWrite_day_content > input{
	height: 37px;
	border: none;
	padding: 0 8px;	
	width: 400px;
}
.noticeWrite_day_content{
	border: 1px solid var(--border-color);
}
.noticeContent_width{
	width: 100%;
	
	border: none;
}

