@charset "UTF-8";

.Notice_listinfo {
	width: 100%;

	display: flex;
	justify-content: flex-start;
	background-color: var(--main-color);
	color: var(--bg-color);
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 10px 10px 0px 0px;

}

.Notice_info {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
}

.Notice_box {
	width: 100%;
}

.Notice_listWrap {
	width: 100%;
	border: 1px solid rgb(192, 192, 192);
	margin: 10px 0px 0px 0px;
}


.Notice_title {
	width: 55%;
	text-align: center;
	color: var(--bg-color);
}

.Notice_date {
	width: 25%;
	color: var(--bg-color);
}

.Notice_cnt {
	width: 15%;
	color: var(--bg-color);
}

.Notice_title2 {
	width: 55%;
	text-align: center;

}

.Notice_date2 {
	width: 25%;

}

.Notice_cnt2 {
	width: 15%;
	
}

.Notice_head {
	font-size: 30px;
	text-align: center;
}