@charset "UTF-8";

.Notice_listinfo {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: flex-start;

}

.Notice_info {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
}

.Notice_box {
	width: 100%;
}

.Notice_listWrap {
	width: 100%;
	border: 1px solid rgb(192, 192, 192);
	margin: 10px 0px 0px 0px;
}


.Notice_title {
	width: 55%;
	text-align: center;
	color: var(--text-title-color);
}

.Notice_date {
	width: 25%;
	text-align: center;
}

.Notice_cnt {
	width: 15%;
	text-align: right;
}
.Notice_cnt2 {
	width: 15%;
	text-align: center;
}

.Notice_head {
	font-size: 30px;
	text-align: center;
}