@charset "UTF-8";

header{
	width: 100vw;
	background-color: var(--bg-color);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid var(--main-dark-color);
	padding: .5rem.1rem;
}
.header {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .7rem;

}
#patrolTemplate header {
	max-width: 360px;
	left:auto;
}

.Log__info {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: .8rem;
}
.Log__info p{
	font-size: .8rem;
	color: var(--text-sub-color);
}


.headerAdmin ,
.headerPatrol {
	width: 100%;
}

.headerAdmin ul,
.headerPatrol ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.headerAdmin ul li,
.headerPatrol ul li {}

.headerAdmin ul li a,
.headerPatrol ul li a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-title-color);
}