@charset "UTF-8";

.sortList {
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	
}

.sortList a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-sub-color);
}
.sortList a.active {
	color: var(--text-cont-color);
	font-weight: bold;
}

.dateBox {
	text-align:end;
}
.dateBox .btn {
	margin-left: .5rem;
}

.workSection {
	width: 92%;
	max-width: 1000px;
	margin: auto;
}

.workListBox {
	margin: 2rem auto;
}

.workListBox h3 {
	font-weight: 700;
	color: var(--main-title-color);
	font-size: 2rem;
	margin: 2rem auto 4rem;
	padding-top:2rem;
	border-top: 1px solid var(--border-color); 
	text-align: center;
}
.workListBox .workList {
	padding-bottom: 40px;

}
.workListBox .workList .workListTitle{
	cursor: pointer;	
	padding: 0 1rem;
	height: 58px;
	font-size: 1.5rem;
	border:1px solid var(--main-color);
	background-color: var(--main-color);
	transition: .3s ease-in;
}
.workListBox .workList .workListTitle h4 {
	color: var(--bg-color);
	line-height: 56px;
	transition: .3s ease-in;
}
.workListBox .workList.active .workListTitle {
	background-color: var(--border-color);
	border:1px solid var(--border-color);
}
.workListBox .workList.active .workListTitle h4 {
	color: var(--text-title-color);
}


.workListBox .workList .workTable{
	display:none;
	padding: 2rem;
	border: 1px solid var(--border-color);
	margin-bottom: 40px;
	border-top: 0px;
	/*transition: .3s ease-in;*/
}
.workListBox .workList.active .workTable{

}

